.DS_Store
.idea/
.env
.ipynb_checkpoints/

# Ignore everything inside data/ by default
data/**

# But re-include the final corpus
!data/spanish/
!data/spanish/processed/
!data/spanish/processed/*.csv

!data/italian/
!data/italian/processed/
!data/italian/processed/*.csv

!data/french/
!data/french/processed/
!data/french/processed/*.csv

vendor/
